@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
	text-align: center;
}

figcaption p + p{
	text-indent: 0;
}

figure.full-page{
	break-after: page;
	break-before: page;
}

/* letters */
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.telegram{
	font-variant: all-small-caps;
}
/* end letters */


#chapter-15 ul{
	list-style: none;
}

#chapter-15 > blockquote:last-of-type > p{
	text-align: center;
}
